//添加顶部返回字体图标
.my-header {
    .mui-icon-back {
        color: #fff;
    }
}
.my-content {
    position: absolute;
    width: 100%;
    /*这里通过绝对定位给top和bottom给盒子限定高度*/
    top: 44px;
    bottom: 50px;
    overflow: hidden;
    background-color: #eee;
    .leftClassify {
        position: relative;
        float: left;
        width: 100px;
        height: 100%;
        a {
            display: block;
            text-align: center;
            height: 50px;
            line-height: 50px;
            border: 1px solid #ccc;
            color: #000;
            font-size: 14px;
            margin-bottom: -1px;
            margin-left:-1px;
            background-color: #fff;
            &.active {
                border-right: 1px solid transparent;
                background-color: #eee;
            }
        }
    }
    .rightClassify {
        position: relative;
        height: 100%;
        margin-left: 110px ;
        ul {
            background-color: #fff;
            overflow: hidden;
            margin-top: 15px;
            padding: 10px;
        }
        li  {
            width: 33.333%;
            float: left;
            img {
                width: 100%;
            }
            p {
                text-align: center;
            }
        }
    }
}
.resources {
    padding-left: 10px;
    color: red;
    font-size: 14px;
}